# Tasks
celery
redis
flower

# Mongo related
# bson
pymongo


# Math
numpy
scipy

# google
google

# json
anyjson
ujson

# PDFMiner
pdfminer

# For pypdfocr
pillow>=2.2
reportlab>=2.7
watchdog>=0.6.0
pypdf2>=1.23

# Test
nose
coverage

# For Docx
#docx>=0.2.4
olefile


# Entity Extraction
nltk
usaddress
nameparser
probablepeople
phonenumbers
uszipcode
python-dateutil

# Python - Docx
#git+https://github.com/1For1/python-docx#egg=python-docx

# Kafka
kafka-python
requests

# Running processes
honcho

#Map
geopy


# logging
celstash