celery
redis
flower

# Mongo related
# bson
pymongo

# json
anyjson

# Math
numpy

# For ocr
pillow>=2.2
reportlab>=2.7
watchdog>=0.6.0
pypdf2>=1.23

# Test
nose
coverage

# Extraction
pdfminer2
docx

# Entity Extraction
nltk
usaddress
nameparser
probablepeople
phonenumbers
uszipcode
python-dateutil
