##############################
# machine learning
numpy
scipy
sklearn
pandas


##############################
# From backend
##############################

# Tasks
celery
redis
flower

# Mongo related
# bson
pymongo


# Math
numpy

# google
google


# json
anyjson
ujson

# PDFMiner
pdfx
pdfminer

# For pypdfocr
pillow>=2.2
reportlab>=2.7
watchdog>=0.6.0
pypdf2>=1.23

# Test
nose
coverage

# For Docx
#docx>=0.2.4
olefile


# Entity Extraction
nltk
usaddress
nameparser
probablepeople
phonenumbers
uszipcode
python-dateutil
tldextract
esmre

# Python - Docx
git+https://github.com/1For1/python-docx#egg=python-docx

# Kafka
kafka-python
requests

# Running processes
honcho

# Map
geopy


# logging
celstash
logstash>=0.1dev

# linkedin
mechanize

#
elasticsearch>=2.0.0,<3.0.0


# InfluxDB
influxdb